.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  max-width: 100vw;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
