<form [formGroup]="form"
      (ngSubmit)="onSend()">

  <div class="form-fields-wrapper">
    <mat-form-field class="to-form-field">
      <mat-label>宛先 (メールアドレス)</mat-label>
      <input matInput
             type="email"
             formControlName="to"
             name="to"
             required>
    </mat-form-field>

    <mat-form-field class="body-form-field">
      <mat-label>内容</mat-label>
      <input matInput
             type="text"
             formControlName="body"
             name="body"
             required>
    </mat-form-field>
  </div>

  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="loading$ | async">メッセージを送信する</button>
</form>
